:root{
    --main-color: #50062A;
    --accent-color: #E4D2D2;
    --black: #000000;
    --aliceblue: aliceblue;
    --white: #ffffff;
    --poppins: 'Poppins', sans-serif;
    --josefin: 'Josefin Sans', sans-serif;
    --raleway: 'Raleway', sans-serif;
    --chilanka: 'Chilanka' cursive;
    --zen: 'Zen Tokyo Zoo', cursive;
    --fredoka: 'Fredoka One', cursive;
    --otomanpee: 'Otomanopee One', sans-serif;
    --lobster: 'Lobster', cursive;
    --jomhuria: 'Jomhuria', cursive;
    --bree: 'Bree Serif', serif;
    --acme: 'Acme', sans-serif;
    --signika: 'Signika', sans-serif;
    --signika-negative: 'Signika Negative', sans-serif;
    --jost: 'Jost', sans-serif;
    --prata: 'Prata', serif;
    --righteous: 'Righteous', cursive;
    --itim: 'Itim', cursive;
    --guy: 'Luckiest Guy', cursive;
    --poiret: 'Poiret One', cursive;
    --ramabhadra: 'Ramabhadra', sans-serif;
    --alegreya: 'Alegreya Sans SC', sans-serif;
    --arima: 'Arima Madurai', cursive;
    --chewy: 'Chewy', cursive;
    --mada: 'Mada', sans-serif;
}


.header_text{
    color: var(--main-color);
    font-family: var(--otomanpee);
    font-size: 35px;
    margin-bottom: 0px;
}
.subheader_text{
    font-family: var(--josefin);
    font-size: 19px;
    font-weight: 300!important;
    padding-left: 20px;
    margin-bottom: 0px;
}

.header_button a{
    border: 1px solid var(--main-color);
    font-family: var(--acme);
    color: var(--aliceblue);
    background-color: var(--main-color);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 15px;
}
.header_button a:nth-child(1){
    padding-left: 40px;
    padding-right: 40px;
}
.header_button a:nth-child(1):hover{
    background-color: transparent;
    color: var(--main-color);
}
.header_button a:nth-child(2){
    background-color: transparent;
    color: var(--main-color);
    margin-right: 0px;
}
.header_button a:nth-child(2):hover{
    color: var(--aliceblue);
    background-color: var(--main-color);
}

#row2{
    border: none;
    background-color: var(--accent-color);
}
#row2 .columns{
    padding-top: 40px;
    padding-bottom: 30px;
}

#row3{
    border: none;
}
#row3 .columns{
    padding-top: 20px;
    padding-bottom: 30px;
}

/* Animations Section Styles */
@-webkit-keyframes spin-animation {
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    0% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin-animation {
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    0% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}

@keyframes shake-animation{
    10%, 90%{
        transform: translate3d(-2px, 0, 0);
    }

    20%, 80%{
        transform: translate3d(3px, 0, 0);
    }

    30%, 50%, 70%{
        transform: translate3d(-5px, 0, 0);
    }

    40%, 60%{
        transform: translate3d(5px, 0, 0);
    }
}

/* Alert Styles Section */
.alert{
    color: var(--aliceblue);
    border-radius: 10px;
    font-family: var(--arima);
    border: none;
}
.alert i{
    float: right;
    font-size: 21px;
    cursor: pointer;
    padding-top: 2.4px;
    display: flex;
}
.alert.danger_alert{
    filter: brightness(90%);
    background: var(--main-color);
}
.alert.success_alert{
    background-color: green;
    filter: brightness(90%);
}

.divider{
    padding: 1px;
    background-color: var(--main-color);
    margin-top: 5px;
    margin-bottom: 5px;
}

#loading__div{
    border: none;
}
#loading__div p{
    margin: 0px;
    border: none;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: var(--main-color);
}
#loading__div p svg{
    -webkit-animation: spin-animation 0.4s infinite linear;
    animation: spin-animation 0.4s infinite linear;
}

.contactform_card{
    border: 1px solid var(--main-color);
    padding: 10px;
}

/*Footer Style*/

.footer__rotateicon{
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 4px;
    margin-top: -5px;
}

.custom__footer{
    background-color: var(--main-color)!important;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1)!important;
    padding-left: 20px;
    padding-right: 20px;
}
.footer__first__col p.mynametitle{
    font-family: var(--alegreya);
    font-weight: 700!important;
    color: var(--white);
    padding: 5px 5px;
    padding-left: 0px;
    padding-right: 10px;
    border-radius: 4px;
    box-shadow: none;
    font-size: 30px;
    text-align: left;
    cursor: pointer;
    margin-bottom: 0px;
}

.footer__first__col span{
    color: var(--aliceblue);
    font-family: var(--arima);
    font-size: 17px;
    padding-left: 10px;
    text-align: left;
    display: block;
    padding-right: 40px;
}

.footer__first__col p#madeby{
    color: var(--white)!important;
    font-size: 15px;
    margin-top: 10px;
    font-family: var(--alegreya);
}
.footer__first__col p#social_icons{
    margin: 0px;
    padding: 10px;
}
.footer__first__col p#social_icons a{
    margin-right: 10px;
    font-size: 25px;
}

.splitted__footer__row h5{
    color: grey;
    font-family: var(--alegreya);
    font-weight: 700!important;
    font-size: 25;
}
.splitted__footer__row ul{
    padding-left: 15px;
}
.splitted__footer__row ul li{
    margin-bottom: 10px;
}
.splitted__footer__row ul li a{
    font-size: 15px;
    font-weight: 400!important;
    font-family: var(--arima);
    text-decoration: none;
    color: white!important;
}
.splitted__footer__row ul li a:hover{
    text-decoration: none;
    color: grey!important;
}

#single__blog__footer__col{
    padding-top: 70px;
}

#single__blog__footer__col .title{
    font-weight: 800!important;
    font-family: var(--otomanpee);
    color: #1b1642;
}

#single__blog__footer__col .subtitle{
    font-weight: 200!important;
    font-family: var(--acme);
    color: black;
    font-size: 17px;
    margin-bottom: 35px;
}

.contact__form{
    border: 2px solid var(--main-color);
    margin-bottom: 10px;
}
.contact__form .body{
    padding: 5px;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 20px;
}
.contact__form .body p{
    margin-bottom: 0px;
    font-family: var(--arima);
    font-size: 16px;
    border: none;
    display: block;
}
.contact__form .body p span{
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 10px;
}
.contact__form .body p span:last-child{
    padding-left: 20px;
}
.contact__form .body p i{
    font-style: normal;
    margin-right: 5px;
    background-color: var(--main-color);
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    border-radius: 3px;
}

.comunity_card{
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: none;
}
.comunity_card .body p#header{
    font-family: var(--alegreya);
    font-size: 18px;
    border-bottom: 3px solid var(--main-color);
    display: inline-flex;
}
.comunity_card .body span{
    font-family: var(--arima);
    display: block;
    padding-left: 10px;
    font-size: 16px;
}
